<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf/-extras-springsecurity5">

<head>
    <meta charset="ISO-8859-1">
    <title>Aggiungi prenotazione</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <hr>
        <h2>Viaggi disponibili</h2>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>ID Viaggio</th>
                    <th>Data del viaggio</th>
                    <th>Ora di partenza</th>
                    <th>Ora di arrivo</th>
                    <th>Bus utilizzato</th>
                    <th>Destinazione</th>
                    <th>Azioni </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="travel : ${Listatravel}">
                    <td th:text="${travel.id}"></td>
                    <td th:text="${travel.date_travel}"></td>
                    <td th:text="${travel.time_dep_real}"></td>
                    <td th:text="${travel.time_arr_real}"></td>
                    <td th:text="${travel.bus.plate}"></td>
                    <td th:text="${travel.link.destination}"></td>
                    <td> <a th:href="@{travel/detail/{id}(id=${travel.id})}" class="btn btn-info btn-sm mb-3">Dettagli</a> 
                        <a th:href="@{/travel/delete/{id}(id=${travel.id})}" class="btn btn-danger btn-sm mb-3" sec:authorize="hasAuthority('admin')"
                        th:data-confirm-delete="|Sei sicuro di voler cancellare il viaggio del ${travel.date_travel}?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                        >Elimina</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="col-12 col-lg-9 col-xl-7">
            <h2>Aggiungi prenotazione</h2>

            <form action="#" th:action="@{/saveMyBook}" th:object="${book}" method="POST">

            <!--Devo mettere la data odierna di default e non farla modificare-->
                <input type="date" th:field="*{date_book}" class="form-control mb-4 col-4">

                <input type="text" th:field="*{description}" placeholder="Descrizione" class="form-control mb-4 col-4">

            <!--    <input type="text" th:field="*{id_trav}" placeholder="Id Destinazione" class="form-control mb-4 col-4">-->


                <select th:field="*{travel}" class="form-control mb-4 col-4">
                    <th:block th:each="travel : ${Listatravel}">
                        <option th:text="${travel.link.destination}" th:value="${travel.id}"/>                       
                    </th:block>
                </select>
                

            <select sec:authorize="hasAuthority('admin')" th:field="*{user}" class="form-control mb-4 col-4">
                <th:block th:each="user : ${Listauser}">
                    <option th:text="${user.id}" th:value="${user.id}"/>                       
                </th:block>
            </select>

            <select sec:authorize="hasAuthority('user')" th:field="*{user}" class="form-control mb-4 col-4">
                <th:block th:each="user : ${meUser}">
                    <option th:text="${meUser.id}" th:value="${meUser.id}"/>                       
                </th:block>
            </select>



        <button type="submit" class="btn btn-info col-2"> Salva</button>
        </form>
        </div>

        <hr>

        <a th:href="@{/myBook}"> Torna alla lista</a>
    </div>

</body>

</html>