<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <body>
        <div class="container text-center">
            <br>
            <div>
                <h2> Password dimenticata</h2>
            </div>
            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-warning">[[${message}]]</p>
            </div>
            <form th:action="@{/forgot_password}" method="POST" style="max-width: 350px; margin: 0 auto;">
                <div class="border border-secondary rounded p-3">
                    <div>
                        <p>
                            Ti sarà inviato un link per il reset alla mail inserita.
                        </p>
                    </div>
                    <div>
                        <p>
                            <input type="email" name="email" class="form-control" placeholder="Inserisci e-mail" required autofocus/>
                        </p>
                        <p class="text-center">
                            <input type="submit" value="Invia" class="btn btn-primary"/> 
                        </p>
                        <br>
                        <a th:href="@{/login.html}"> Torna a login</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>