<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf/-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Home</title>
<meta charset="UTF-8"/>
<style>
.beta th{
    background-color:orange;
    color:white;
}
.beta tr:nth-child(2n){
    background-color: pink;
}
table{
    border-collapse: collapse;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</style>
</head>
    <body>
        <div class="a">
        <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="/travel" id="b">Viaggi</a>
            <a href="/user" id="c" sec:authorize="hasAuthority('admin')">Utenti registrati</a>
            <a href="/bus" id="e">Autobus</a>
            <a href="/link">Collegamenti disponibili</a>            
            <a href="/book" sec:authorize="hasAuthority('admin')">Prenotazioni</a>
            <a href="/myBook" sec:authorize="!hasAuthority('admin')">Le mie prenotazioni</a>
            <a href="/myProfile" sec:authorize="!hasAuthority('admin')">Mio profilo</a>
            <a href="/logout" th:action="@{/logout}">Logout</a>
        </div>
        <br>
        <table>
            <tr>
                <td width="10"></td>
                <td>
                    <h2 th:inline="text" textalign="center">Welcome [[${#httpServletRequest.remoteUser}]]</h2>
                    <text>Al momento ti trovi nella Home che può darti accesso a:</text>
                    <ul>
                        <li>Sezione viaggi in cui potrai:</li>
                        <ul>
                            <li>Visualizzare nel dettaglio i viaggi che la compagnia offre</li>
                            <li sec:authorize="hasAuthority('admin')">Inserire/modificare/cancellare i viaggi esistenti</li>
                        </ul>
                        <br sec:authorize="hasAuthority('admin')">
                        <li sec:authorize="hasAuthority('admin')">Sezione utenti registrati in cui potrai</li>
                        <ul>
                            <li sec:authorize="hasAuthority('admin')">Visualizzare nel dettaglio tutti gli utenti registrati</li>
                            <li sec:authorize="hasAuthority('admin')">Inserire/modificare/cancellare gli utenti esistenti</li>
                        </ul>
                        <br>
                        <li>Sezione autobus in cui potrai:</li>
                        <ul>
                            <li>Visualizzare nel dettaglio i bus che la compagnia dispone</li>
                            <li sec:authorize="hasAuthority('admin')">Inserire/modificare/cancellare i bus esistenti</li>
                        </ul>
                        <br>
                        <li>Sezione collegamenti disponibili in cui potrai:</li>
                        <ul>
                            <li>Visualizzare nel dettaglio le mete che la compagnia offre</li>
                            <li sec:authorize="hasAuthority('admin')">Inserire/modificare/cancellare i collegamenti presenti</li>
                        </ul>
                        <br>
                        <li sec:authorize="hasAuthority('admin')">Sezione le mie prenotazioni in cui potrai:</li>
                        <li sec:authorize="!hasAuthority('admin')">Sezione prenotazioni in cui potrai:</li>
                        <ul>
                            <li sec:authorize="hasAuthority('admin')">Visualizzare le prenotazioni effettuate</li>
                            <li sec:authorize="!hasAuthority('admin')">Visualizzare tutte le prenotazioni</li>
                            <li>Inserire/modificare/cancellare le prenotazioni esistenti</li>
                        </ul>
                    </ul>
                  </td>
                  <td width="300"></td>
              <td><br><br><img src="https://img.freepik.com/premium-vector/bus-travel-company-logo-emblem-excursion-tourist-bus-rental-organisation-travel-agency-print-stamps-bus-typography-emblem_140930-375.jpg" width="450"></td>
              
            </tr>
        </table>
        
                   
    </body>
</div>
</html>