<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Aggiungi collegamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <hr>
        <h2>Aggiungi collegamento</h2>

        <form action="#" th:action="@{/saveLink}" th:object="${link}" method="POST">
            <input type="text" name="Destinazione" th:field="*{destination}" placeholder="Destinazione" class="form-control mb-4 col-4">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}">Destination error</span>

            <input type="text" name="Tempo previsto" th:field="*{time}" placeholder="Tempo previsto" class="form-control mb-4 col-4">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time error</span>

            <button type="submit" name="submit" class="btn btn-info col-2"> Salva</button>
        </form>

        <hr>

        <a th:href="@{/}"> Torna alla lista</a>
    </div>
</body>

</html>