
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf/-extras-springsecurity5">

<head>
    <meta charset="ISO-8859-1">
    <title>Mio profilo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .topnav {
        overflow: hidden;
        background-color: #333;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    </style>

</head>

<body>
    <div class="topnav">
        <a href="/" >Home</a>
        <a href="/travel" id="b">Viaggi</a>
        <a href="/user" id="c" sec:authorize="hasAuthority('admin')">Utenti registrati</a>
        <a href="/bus"  id="e">Autobus</a>
        <a href="/link" >Collegamenti disponibili</a>
        <a href="/book" sec:authorize="hasAuthority('admin')">Prenotazioni</a>
        <a href="/myBook" sec:authorize="!hasAuthority('admin')">Le mie prenotazioni</a>
        <a href="/myProfile" class="active" >Mio profilo</a>
        <a href="/logout" th:action="@{/logout}">Logout</a>
    </div>
    <br><br>

    <div class="container">
        <h2>Mio profilo</h2>
        <form action="#" th:action="@{/saveUserWithoutPw_P}" th:object="${user}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{password}" />
            <input type="hidden" th:field="*{sex}" />
            <label>Nome</label>
            <input type="text" th:field="*{firstname}" class="form-control mb-4 col-4">
            <label>Cognome</label>
            <input type="text" th:field="*{lastname}" class="form-control mb-4 col-4">
            <label>Username</label>
            <input type="text" th:field="*{username}" class="form-control mb-4 col-4">
            <label>Email</label>
            <input type="text" th:field="*{email}" class="form-control mb-4 col-4">
            
            
            <button type="submit" class="btn btn-info col-2"
            th:data-confirm-delete="|Al termine della modifica dovrai effettuare di nuovo il login|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"> Modifica</button>
            <br><br>
            <a th:href="@{/changePw}" class="btn btn-info col-2">Cambia password</a>
        </form> 
        <br>
        <a th:href="@{/}"> Torna alla home</a>
    </div>
</body>

</html>
