<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Travel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container" >
        <hr>
        <h2>Dettaglio viaggio</h2>

        <form action="#" th:object="${travel}" method="POST">
            <!-- Add hidden form field to handle update -->
            <label>Data viaggio</label>
            <input type="text" th:field="*{date}" class="form-control mb-4 col-4">
            <label>Ora di partenza</label>
            <input type="text" th:field="*{time_dep_real}" class="form-control mb-4 col-4">
            <label>Ora di arrivo</label>
            <input type="text" th:field="*{time_arr_real}" class="form-control mb-4 col-4">
        </form>

        <hr>

        <a th:href="@{/travel}"> Torna alla lista</a>
    </div>
</body>

</html>