<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Aggiungi collegamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <hr>
        <h2>Aggiungi viaggio</h2>
        <br><br>

        <form action="#" th:action="@{/saveTravel}" th:object="${travel}" method="POST">
            
            <label for ="Selezione destinazione">Seleziona la destinazione</label>
            <select th:field="*{link}" id="Selezione destinazione" class="form-control mb-4 col-4">
                <th:block th:each="link : ${Listalink}">
                    <option th:text="${link.destination}" th:value="${link.id}"/>                       
                </th:block>
            </select>

            <label for ="Data partenza">Seleziona la data</label>
            <input type="date" th:field="*{date}" id="Data partenza" th:min="${#temporals.format(date,'yyyy-MM-dd')}" class="form-control mb-4 col-4">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">username error</span>

            <label for ="Orario di partenza">Seleziona l'orario di partenza dalla sede</label>
            <input type="time" th:field="*{time_dep_real}" id="Orario di partenza" class="form-control mb-4 col-4">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('time_dep_real')}" th:errors="*{time_dep_real}">username error</span>

            <label for ="Orario di arrivo">Seleziona l'orario di arrivo a destinazione</label>
            <input type="time" th:field="*{time_arr_real}" id="Orario di arrivo" class="form-control mb-4 col-4">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('time_arr_real')}" th:errors="*{time_arr_real}">username error</span>

            <label for ="Selezione bus">Seleziona il bus da utilizzare</label>
            <select th:field="*{bus}" id="Selezione bus" class="form-control mb-4 col-4">
                <th:block th:each="bus : ${Listabus}">
                    <option th:text="${bus.plate}" th:value="${bus.id}"/>                       
                </th:block>
            </select>

            <button type="submit" class="btn btn-info col-2"> Salva</button>
        </form>

        <hr>

        <a th:href="@{/travel}"> Torna alla lista</a>
    </div>
</body>

</html>