<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Registrazione</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registrazione</h3>

        <form action="#" th:action="@{/saveUser_reg}" th:object="${user}" method="POST">
            
            <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" th:field="*{firstname}"class="form-control form-control-lg" />
                    <label class="form-label" >Nome</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" th:field="*{lastname}" class="form-control form-control-lg" />
                    <label class="form-label" >Cognome</label>
                  </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" th:field="*{username}"class="form-control form-control-lg" />
                    <label class="form-label" >Username</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" th:field="*{email}" class="form-control form-control-lg" />
                    <label class="form-label" >Email</label>
                  </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" th:field="*{password}" class="form-control form-control-lg" />
                        <label class="form-label" >Passowrd</label>
                      </div>
                    

                </div>
                <div class="col-md-6 mb-4">

                    <label>Sesso</label><br>
                    <select th:field="*{sex}" id="dd1">
                        <option th:value="M" th:text="M"></option>
                        <option th:value="F" th:text="F"></option>
                    </select>

                </div>
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                        <select th:field="*{role}" id="dd1">
                            <option th:value="user" th:text="user"></option>
                        </select>
                      </div>

                </div>
            </div>


            <div class="mt-2 pt-2">
                <input class="btn btn-primary" type="submit" value="Submit" />
              </div>
        </form>

        <hr>

        <a th:href="@{/login.html}"> Torna al login</a>
    </div>
</body>

</html>